.container {
}

.element{
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);
  padding: 15px;
}

.list{
  display: grid;
  padding-top: 80px;
  grid-template-columns: repeat(auto-fit,260px)
}

.icon--add {
  cursor: pointer;
  padding: .3rem;
  width: 1.5rem;
  height: 1.5rem;
  filter: opacity(.6);
  transition: all .2s;
  position: absolute;
  transform: translate(-50%, -50%);
}

.btn-add-note {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 50%;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.form-group{
  padding: 20px;
}

.btn-add-note:hover{
  transform: scale(1.2);
  cursor: pointer;
}
