.textarea__container {
    padding: 3rem;
    padding: 0 2rem;
    padding-top: 3rem;
  }
  
textarea {
background-color: transparent;
width: 100%;
resize: none;
line-height: 1.5rem;
outline: none;
border: none;
}

.color {
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color--orange {
    background-color: var(--color-orange);
  }
  
  .color--blue {
    background-color: var(--color-blue);
  }
  
  .color--yellow {
    background-color: var(--color-yellow);
  }
  
  .color--pink {
    background-color: var(--color-pink);
  }
  
  .color--green {
    background-color: var(--color-green);
  }