.figureContainer{
   padding-top: 150px;
   padding-left: 180px;
   display: block;
   justify-content: center;
}

.figureContainer :hover{
    cursor: pointer;
    /* transform: scale(1.2); */
    box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.5);

}

.figure{
    border-radius: 10%;
    transition: all .3s;
}


.figureTitle{
    text-align: center;
    color: black;
    font-style: italic;
    padding-top: 20px;
    padding-left: 170px;
}


.homeContainer{ 
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 51rem;
}

.titleHome{
    font-size: xx-large;
    font-family: fantasy;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 8px;
}