.figureContainer{
   padding-top: 150px;
   padding-left: 180px;
   display: block;
   justify-content: center;
}

.figureContainer :hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.5);

}

.figure{
    border-radius: 10%;
    transition: all .3s;
}


.figureTitle{
    text-align: center;
    color: gray;
    font-style: italic;
    padding-top: 20px;
    padding-left: 170px;
}

.figureTitle:hover{
    text-decoration: underline;
    cursor: pointer;
}

.homeContainer{
    justify-content: center;  
    padding-bottom: 100px;
    padding-right: 20px; 
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    background-color: #DAF7A6;
    border-radius: 1%;
    box-shadow: 9px 9px 11px 2px rgba(0,0,0,0.74);
}