.task {
    background-color: #ffffff;
    padding: 1.5rem;
    height: 15rem;
    transition: all .3s;
    border-radius: 2%;
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.5);
  }

/*.task--2 {*/
/*  background-color: var(--color-green);*/
/*}*/

/*.task--1 {*/
/*  background-color: var(--color-yellow);*/
/*}*/

/*.task--0 {*/
/*  background-color: var(--color-red);*/
/*}*/

.task:hover {
  transform: scale(1.2);
  box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.5);
}

.text {
  font-size: 1.6rem;
  text-align: justify;
  overflow-wrap: break-word;
  line-height: 16px;
}

.title{
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 2px;
  transition: 0.3s;
}

.description{
  font-size: 11px;
  padding-bottom: 2px;
}

.modal-bg{
  background-color:  rgba(0,0,0,.8)
}

.title:hover{
  background-color: #DA392B;
  color: white;
}

.icon {
  cursor: pointer;
  padding: .3rem;
  width: 1.5rem;
  height: 1.5rem;
  filter: opacity(.6);
  transition: all .2s;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-column-gap: 10px;
  justify-content: end;
  visibility: hidden;
}

.task:hover .actions {
  visibility: visible;
}


.icon:hover {
  filter: none
}

.pin{
  padding-bottom: 1px;
  width: 3.8rem;
  height: auto;
}

.fin{
  font-size: small;
}
