.note {
    background-color: var(--color-orange);
    padding: 10px;
    height: 10rem;
    transition: all .3s;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .text {
    font-size:large;
    text-align: justify;
  }

  .note--orange {
    background-color: var(--color-orange);
  }
  
  .note--blue {
    background-color: var(--color-blue);
  }
  
  .note--yellow {
    background-color: var(--color-yellow);
  }
  
  .note--pink {
    background-color: var(--color-pink);
  }
  
  .note--green {
    background-color: var(--color-green);
  }
  
  .note:hover {
    transform: scale(1.2);
    box-shadow: 10px 15px 15px 0px rgba(0, 0, 0, 0.5);
  }
