:root {
  font-size: 60%;
  --color-orange: #ff7455;
  --color-blue: #1ba8b1;
  --color-yellow: #ffeb3b;
  --color-pink: #ff0079;
  --color-green: #aeea00;
  --img-background-notes: url('./img/stockvault-wood-background124529.jpg');
  --img-background-home: url('./img/Cypress.jpg');
}

body {
  background-image: var(--img-background-home);
  width: 180;
  height: 180;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.background--notes{
  background-image: var(--img-background-notes);
}