:root {
  font-size: 60%;
  --color-orange: #ff7455;
  --color-blue: #1ba8b1;
  --color-yellow: #ffeb3b;
  --color-pink: #ff0079;
  --color-green: #aeea00;
  --color-background: #FAFAFA;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}